<section id="presentation">
     <h1>Aplicación de Gestión de Productos</h1>
     
     <p>
       Esta aplicación permite a los usuarios navegar por un catálogo de productos, 
       seleccionar ítems, agregar cantidades al carrito y revisar su orden en un resumen.
       Es un proyecto de práctica desarrollado en Angular con un enfoque en la arquitectura 
       de componentes reutilizables y gestión del estado de los productos.
     </p>
     
     <h2>Tecnologías Utilizadas</h2>
     <ul>
       <li><strong>Frontend:</strong> Angular, javascript, css, html</li>
       
     </ul>
     
     <h2>Funcionalidades Clave</h2>
     <ul>
       <li>Navegación entre páginas de productos.</li>
       <li>Agregar productos al carrito y modificar cantidades.</li>
       <li>Modal de detalles para ver más información de cada producto.</li>
       <li>Barra de búsqueda para encontrar productos rápidamente.</li>
       <li>Gestión del estado del carrito y productos mediante servicios globales.</li>
     </ul>
     
     <h2>Proceso de Desarrollo</h2>
     <p>
       La arquitectura de la aplicación está basada en componentes reutilizables, como 
       <code>item-card</code>, que se utiliza en todas las páginas para mostrar productos. 
       Además, se implementaron servicios para manejar el estado de los productos, el carrito 
       y las notificaciones de alertas globales.
     </p>
     <p>
       Opté por no manejar inmutabilidad para simplificar la sincronización entre el estado de 
       los productos y el carrito, permitiendo reflejar la cantidad de productos seleccionada 
       en todas las páginas.
     </p>
   
     <h2>Ver codigo en github</h2>
     <p>
       <a href="https://github.com/Mannarino/products-managet-state" target="_blank">Haz clic aquí para ver readme, y codigo del repositorio en github</a>
     </p>
   </section>
   