


  <!-- Header -->
  <header>
    <h1>Aplicación de carrito y gestion de productos</h1>
  </header>

  <!-- Hero Section -->
  <section class="hero">
    <div>
      <h2>Explora nuestro catálogo de productos</h2>
      <p>Tu mejor experiencia de compra comienza aquí. Navega por nuestra variedad de productos y encuentra todo lo que necesitas en un solo lugar.</p>
      <a >Comienza a Explorar</a>
    </div>
  </section>

  <!-- Welcome Section -->
  <section class="welcome" id="explore">
    <h2>¿Qué Ofrecemos?</h2>
    <p>Nos especializamos en ofrecerte una experiencia de usuario sin igual, donde podrás gestionar fácilmente tus productos favoritos, agregar ítems a tu carrito de compras, y revisar tu orden con total comodidad. Todo esto mientras disfrutas de un diseño simple y moderno.</p>
  </section>

  <!-- Footer -->
  <footer>
    <p>&copy; desarrollado por moises mannarino.</p>
  </footer>


