<div class="card">
    <img [src]="'assets/' + dataPadre.imagen" class="card-img-top" alt="...">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title text-center">{{dataPadre.nombre}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <ul >
        <li class="list-group-item"><b>precio:</b> {{dataPadre.precio | currency:'USD':'symbol':'1.2-2'}}</li>
      </ul>
      <div class="mt-auto">
        <button href="#" (click)="add(dataPadre)" class="btn btn-primary">agregar a carrito</button>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" (click)="detalles(dataPadre)"  #myInput  data-bs-toggle="modal" data-bs-target="#exampleModal">
         ver detalles
        </button>
      </div>
    </div>
  </div>
  


<!-- Modal -->
<div class="modal fade" #myModal id="exampleModal"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Detalles</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
       <app-detalles></app-detalles>
    </div>
  </div>
</div>